.list_menu {
    padding: 0px !important;
    display: block !important;
}

.item_menu {
    list-style: none;
}


button {
    border: none;
    background-color: transparent;
}

.container-fluid {
    padding: 0px !important;
    margin: 0px !important;
    
}

.container-expand {
    width: 180px !important;
}

.container-collapsed {
    width: 60px !important;
    transition: width 0.2s ease;
}

.sidebar {
    transition: width 0.5s ease;
    min-height: auto;
    transition: width 0.2s ease;
    padding-right: 0px !important;
    color: red !important;
}

.sidebar.collapsed {
    width: 80px;
    transition: width 0.2s ease;
}


.sidebar.collapsed .menu-text {
    display: none;
    transition: width 0.5s ease;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 70px;
    margin-right: 30px;
}

.menu-toggle {
    display: flex;
    justify-content: end;
    margin: 15px 0px;
}

.sidebar.collapsed .menu-toggle {
    display: flex;
    justify-content: center;
}

.menu-text {
    width: 70%;
    font-size: 18px;
}

.active {
    background-color: #ffffff;
}

.active > svg,
.active > .menu-text {
    color: cadetblue !important;
    
}

@media (max-width: 991px) {
    .sidebar {
        max-width: none;
    }

    .menu-text {
        font-size: 18px;
        width: auto;
    }

    .container-fluid {
        max-width: 100vh;
    }

    .menu-icon {
        justify-content: start;
    }

    .sidebar.collapsed {
        width: 50px;
    }
}