@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;1,100;1,200;1,300;1,400;1,500&display=swap');

$color-primary: #FFFFFF;
$color-secondary: #00E0C6;
$color-letters: #009393;
$color-titles: #016170;
$color-danger: #ff4136;

$theme-colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "letters": $color-letters,
    "titles": $color-titles,
    "danger": $color-danger,
    );

@import "../../../node_modules/bootstrap/scss/bootstrap";
    
:root{
    // fonts
    --font-exo: 'Exo 2', 'sans-serif';
    --color-border: $color-secondary;
    // colors
}